.plusbutton {
    margin-right: 10px;
    padding: 30px 60px;
}

.minusbutton {
    margin-left: 10px;
    padding: 30px 60px;
}

.resetbutton {
    margin-left: 8%;
    padding: 30px 60px;
    font-size: 1.1em;
    margin-top: 20px;
}

span {
    font-size: 2em;
}

.container {
    margin-top: 40vh;
    margin-left: 20%;
    margin-bottom: 10px;
}